@font-face {
  font-family: 'Fraunces';
  src: url("./assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: 'Manrope';
  src: url("./assets/fonts/manrope/Manrope-VariableFont_wght.ttf") format('truetype');
}

:root {
  --Green: #44FFA1;
  --Purple-900: #24053E;
  --Purple-500: #584D62;
  --Purple-100: #FCF8FF;
}

body {
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  ***************STYLES***************
*/

.button {
  display: block;
  width: fit-content;
  color: var(--Purple-900);
  background-color: var(--Green);
  padding: 0.75rem 2rem;
  margin-inline: auto;
  font-family: "Manrope", "sans-serif";
  font-size: 1rem;
  font-weight: bold;
  line-height: 180%;
  letter-spacing: 0px;
}

header {
  background-color: var(--Purple-900);
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.25rem 0 1.25rem;
  max-width: 1120px;
}

nav a {
  font-family: "Manrope", "sans-serif";
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 180%;
  letter-spacing: 0px;
  color: white;
  border-bottom: 3px solid var(--Green);
}

.wrapper-hero {
  padding: 3.5rem 1.25rem 9rem 1.25rem;
  text-align: center;
}

h1 {
  font-family: "Fraunces", "serif";
  font-size: 3rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0px;
  color: white;
  margin-bottom: 2.5rem;
}

.underline {
  border-bottom: 3px solid var(--Green);
}

.phone {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  padding-inline: 1.75rem;
  z-index: 2;
}

main {
  position: relative;
  padding-top: 10rem;
}

section:nth-child(1) {
  background-color: var(--Purple-100);
  color: var(--Purple-500);
}

.features span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
  font-family: "Fraunces";
  font-size: 1.25rem;
  line-height: 40%;
  letter-spacing: 0px;
  padding: 0.25rem 1.25rem;
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--Purple-500);
  border-radius: 50%;
}

.features h3 {
  font-family: "Fraunces";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0px;
}

.feature-item p {
  font-family: "Manrope";
  font-size: 1rem;
  line-height: 180%;
  letter-spacing: 0px;
}

section:nth-child(2) {
  padding-inline: 20px;
  background-color: white;
}

section:nth-child(2) img {
  transform: translateY(15%);
  width: 90%;
  margin-inline: auto;
  max-width: 350px;
}

.founder {
  background-color: var(--Purple-900);
  color: white;
  padding: 32px;
  text-align: center;
  font-family: "Manrope";
  line-height: 180%;
  position: relative;
  z-index: 2;
}

.founder h3 {
  font-family: "Fraunces";
  font-size: 2rem;
  line-height: 120%;
  letter-spacing: 0px;
  font-weight: 400;
  padding-bottom: 32px;
}

.founder p {
  padding-bottom: 32px;
}

.pattern-3 {
  display: none;
}


footer {
  padding: 80px 0;
}

footer img:first-child {
  margin-inline: auto;
  margin-bottom: 56px;
}

.logos {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-inline: auto;
}

@media (min-width: 768px) {
  section:nth-child(2) {
    padding-inline: 44px;
    display: flex;
    max-width: 900px;
    margin-inline: auto;
  }

  section:nth-child(2) img {
    flex-shrink: 0;
    margin-inline: auto;
    transform: translateY(0);
    width: 90%;
    margin-inline: auto;
    max-width: 280px;
    align-self: flex-start;
  }

  .founder {
    margin-top: 168px;
    margin-left: -110px;
    position: relative;
    text-align: left;
    padding: 48px;
  }

  .founder h3 {
    font-size: 3.5rem;
  }

  .founder .button {
    margin-left: auto;
    margin-inline: 0;
  }

  .pattern-3 {
    display: block;
    position: absolute;
    max-width: 175px !important;
    bottom: -25%;
    right: 5%;
  }
}